.ramka{
    margin-left: 10%;
    margin-right: 1%;
}
.ram{
    background-color: rgb(173, 146, 189);
}
.tekst1{
    background-color: rgb(173, 146, 189);
    font-size: large;
    color: white;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body{
    background-image: url("images/poz.jpg");
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size: cover;
    margin: 0;
}
.sl1{
    border-radius: 100%;
    margin-top: 7%;
    width: 15%;
}
.info{
    font-size: large;
    padding-left: 2%;
    margin-top: 5px;
    color: white;
}
ul{
    list-style-type: none;
}
li{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 20px;
    background-color: grey;
    font-size: large;
    color: white;
    margin-right: 3%;
    padding-left: 2%;
}
li:hover{
    background-color: rgb(252, 252, 80);
    color: black;
}
nav{
    font-size: xx-large;
    font-weight: bold;
    color:white;
    border: 2px solid rgb(173, 146, 189);
    text-align: center;
    width: 10em;
    background-color: rgb(173, 146, 189);
}
nav ul{
    display: none;
    list-style: none;
}
nav:hover ul{
    display: block;
}
nav ul li{
    border-top: 2px solid rgb(173, 146, 189);
    background-color: rgb(252, 252, 80);
    width: 10em;
}
nav ul li:hover{
    background-color: rgb(182, 168, 190);
}
a{
    text-decoration: none;
}
.a4{
    border: 5px rgb(252, 252, 80);
    border-radius: 10px;
    margin: 1% 5%;
    background-color: rgb(252, 252, 80,0.726);
    text-align: center;
    padding: 15px 0;
}
.kolona p{
    font-size: x-large;
    background-color: white;
    color: black;
    font-weight: bold;
}
.red{
    display: flex; 
    flex-wrap: wrap; 
    align-items: center;
    text-align: center;
    margin: 20px 0;
}
.kolona{
    flex: 33.33%;
    width: 33.33%;
}
.kolona img{
    margin: 10px 0;
    vertical-align: middle;
    width: 50%;
}
.sl:hover{
    transform: scale(1.7);
}
.p1{
    background-color: rgb(173, 146, 189);
    font-size: xx-large;
    color: white;
    padding-left: 20px;
    font-weight: bold;
    margin-bottom: 30px;
}
.a1{
    background-color: rgba(255, 255, 255, 0.726);
    border-radius: 10px;
    padding:15px 0;
    margin: 1% 5%;
}

fieldset{
    border: 2px solid rgb(173, 146, 189,0.726);
    border-radius: 10px;
    background-color: rgb(173, 146, 189,0.726);
    margin: 1% 10%;

}
fieldset legend{
    background-color: white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
    margin: 20px;
    color: rgb(34, 33, 33);
}
.button{
    margin: 20px 0;
    background-color: grey;
}
.button:hover{
    background-color: rgb(252, 252, 80);
}
fieldset label b{
    color: rgb(34, 33, 33);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}