.menu{
    text-align:right ;
}
.start h1{
  color: rgb(0, 0, 0);
  font-size: 80px;
  font-weight: bold;
  font-family: monospace;
  letter-spacing: 7px;
  cursor: pointer;
  float: right;
  margin-right: 20%;
  margin-top: 13%;
}
.start h1{
  transition: .5s linear
}
.start h1:hover{
color: #fff;
 text-shadow: 0 0 10px #fff,
              0 0 20px #fff, 
              0 0 40px #fff;
}
header{
    height: fit-content;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: thistle;
}
body{
    background-image: url("images/wall.jpg");
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
}
.pocetok{
    margin-left: 10%;
    margin-right: 1%;
}
.pocetok ul{
    list-style-type: none;
}
.pocetok li{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 20px;
    background-color: black;
    font-size: large;
    color: white;
    margin-right: 3%;
    padding-left: 2%;
}
.pocetok li:hover{
    background-color: thistle;
    color: black;
}
.mojaslika{
    border-radius: 100%;
    margin-top: 7%;
    width: 15%;
    margin-left: 20%;
}
.info{
    font-size: large;
    padding-left: 2%;
    margin-top: 5px;
    color: white;
}
a{
    text-decoration: none;
}
.omileni{
    /* border: 5px rgba(255, 255, 255, 0.726); */
    border-radius: 10px;
    margin: 1% 5%;
    background-color: rgba(0, 0, 0, 0.842);
    padding: 15px 0;
}
.red{
    display: flex; 
    flex-wrap: wrap; 
    align-items: center;
    text-align: center;
    margin: 20px 0;
}
.kolona{
    flex: 33.33%;
    width: 33.33%;
}
.ramka{
    border-radius: 10%;
    background-color: white;
    margin: 0 10%;
}
.kolona img{
    margin: 10px 0;
    vertical-align: middle;
}
.sl_f{
    width: 40%;
    border-radius: 15px;
}
.sl{
    width: 80%;
    padding-top: 5%;
}
.sl:hover{
    opacity: 0.7;
}
.slika{  
    animation-name: zoom;
    animation-duration: 0.6s;
}
@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
} 
.close1, .close2, .close3, .close4, .close5, .close6{
    position: absolute;
    top: 15px;
    right: 35px;
    color: white;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}
.sl_golema{
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: hidden; 
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.9); 
}
#sl_g1, #sl_g2, #sl_g3, #sl_g4, #sl_g5, #sl_g6{
    margin: auto;
    display: block;
    width: 40%;
}
.sl2{
    width: 20%;
}
.blog_s{
    text-decoration: none;
    margin-left: 15%;
}
.blog_s li{
    margin-bottom: 2%;
}
.fa-file-upload{
    color: white;
}
.recipe{
    background-color: white;
    display: inline;
    position: absolute;
    top: 0;
    width: 50%;
    margin: 0 5%;
    padding-left: 2%;
    font-size: x-large;
    border: 2px solid white;
    border-radius: 10px;
}
.fa-angle-double-right{
    color: gray;
}
.blog_div{
    position: relative;
}
.galerija{
    background-color: rgba(0, 0, 0, 0.842);
    border-radius: 10px;
    padding:15px 0;
    margin: 1% 5%;
}
.p_galerija{
    background-color: thistle;
    font-size: xx-large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: black;
    padding-left: 8%;
    margin-bottom: 30px;
}
fieldset{
    border: 2px solid rgba(216, 191, 216, 0.726);
    border-radius: 10px;
    background-color: rgba(216, 191, 216, 0.726);
    margin: 1% 10%;

}
fieldset legend{
    background-color: white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
    margin: 20px;
    color: rgb(34, 33, 33);
}
.button{
    margin: 20px 0;
    background-color: grey;
}
.button:hover{
    background-color: thistle;
}
fieldset label b{
    color: rgb(34, 33, 33);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
footer{
    background-color: black;
    margin: 0 0;
    padding: 0 0 1% 0;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
footer i{
    margin: 2% 4%;
}
.kontakt{
    font-size: xx-large;
    color: white;
    font-weight: bold;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: thistle;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
.sidenav a {
    padding-right: 20px;
    padding-bottom: 8px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
}
.sidenav a:hover {
    color: black;
}
.sidenav .x{
    position: absolute;
    top: 0;
    right: 0;
    font-size: 36px;
}
span{
    color: black;
    padding-right: 20px;
    font-size: 25px;
}
#pa1, #pa2, #pa3, #pa4, #pa5, #pa6{
    display: none;
    background-color: white;
    padding: 23% 0;
    margin: 0 25%;
    font-size: large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
figcaption{
    text-align: left;
    margin: 0 7%;
}
figcaption p{
    font-size: small;
    margin: 2px 0;
    text-decoration: underline;
}
figcaption .komentar{
    margin-top: 2px;
    display: none;
}
figcaption .kopce{
    font-size: x-small;
    margin-bottom: 3%;
}
.fa-heart{
    color:coral;
}
.fa-comment{
    color: grey;
}
.br_lajkovi{
    display: inline;
    text-decoration: none;
}
.site_kom{
    display: none;
    color: black;
    padding-bottom: 2%;
    overflow-y: scroll;
    width: 100%;
    height: 110px;
}
.site_kom .cel{
    border-radius: 10px;
    background-color: rgba(87, 81, 81, 0.527);
    padding: 2px 5px;
    text-decoration: none;
}
.site_kom .data{
    text-align: right;
    margin-top: 0;
    margin-right: 5px;
    margin-bottom: 5px;
    font-size: 7px;
}
#recept{
    margin-top: 15px;
    border-radius: 15px;
}